@model musicapp.song

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.namesong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namesong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagesong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagesong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.linkgoogle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.linkgoogle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author.nameauthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author.nameauthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kind.namekind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kind.namekind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.singer.namesinger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singer.namesinger)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idsong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
