@model IEnumerable<musicapp.song>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style="width:80%; text-align:left;">
    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p>
            <label for="file">Upload file:</label>
            <input type="file" name="file" id="file" />
            <input type="submit" value="Upload" />
        </p>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.namesong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagesong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linkgoogle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author.nameauthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kind.namekind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.singer.namesinger)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.namesong)
        </td>
        <td>
            <img src="@(item.imagesong)" alt="Alternate Text" width="80px" />
        </td>
        <td>
           <audio controls>
               <source src="@(item.linkgoogle)" type="audio/mpeg" />
           </audio>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author.nameauthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kind.namekind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.singer.namesinger)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idsong }) |
            @Html.ActionLink("Details", "Details", new { id=item.idsong }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idsong })
        </td>
    </tr>
}

</table>
